@font-face {
  font-family: myFirstFont;
  src: url(fonts/DeathCrow.ttf);
}





html {
    background-image: linear-gradient(black, grey);
    height: 100vh;
}



body {
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;

}

.grid-container a {
    color: white;
    text-decoration: none;
}

.grid-container a:hover {
    color: grey;
}

.a {
    font-style: italic;
    font-size: 70px;
    grid-column: 1/2;
    margin-left: auto;
    margin-right: auto;
    font-family: myFirstFont;
}

.b {
    font-style: italic;
    font-size: 70px;
    grid-column: 2/3;
    margin-left: auto;
    margin-right: auto;
    font-family: myFirstFont;
}

.c {
    font-style: italic;
    font-size: 70px;
    grid-column: 4/5;
    margin-left: auto;
    margin-right: auto;
    font-family: myFirstFont;
}

.d {
    font-size: 70px;
    grid-column: 5/6;
    margin-left: auto;
    font-style: italic;
    margin-right: auto;
    font-family: myFirstFont;
}

.a , .b , .c,  .d {
    width: 100%;
    align-self: center;
    justify-self: stretch;
    border-bottom: 2px solid red;
}  


.logo {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-left: auto;
    margin-right: auto;


}

.full {
    display: grid;
    grid-template-columns: 1fr;
}

/*
.product {
    display: block;
    width: 140%;
    grid-column: 2/3;
    margin-left: auto;
    margin-right: auto;
    grid-row: 2/3;

}

.producte {
    display: block;
    width: 180%;
    grid-column: 4/5;
    grid-row: 2/3;
    margin-left: auto;
    margin-right: auto;

}
*/

.e {
    font-size: 70px;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: auto;
    font-style: italic;
    margin-right: auto;
    font-family: myFirstFont;
}


.f {
    font-size: 70px;
    grid-column: 4/5;
    grid-row: 1/2;
    margin-left: auto;
    font-style: italic;
    margin-right: auto;
        font-family: myFirstFont;
}

section {
    width: 80%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(0,0,0,0.6);
    font-family: myFirstFont;
}




.line {
    grid-column: 1/2;
    grid-row: 2/3;
    border-right: 2px solid red; 
}

.product {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 63% ;
    margin-left: auto;
    margin-right: auto;
}


.producte {
    display: block;
    width: 81%;
    margin-left: auto;
    margin-right: auto;
}

 